# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.suo
*.user
*.sln.docstates

# Logs and databases
*.log
*.sql
*.sqlite
analysis.json 

# OS-specific files and directories
.DS_Store
Thumbs.db
